body{
  width: 320px;
  height: 234px;
  padding-bottom: 38px;
  margin: 0;
  background: #F8F8F8;
}

.header{
  display: flex;
  align-items: center;
  padding: 16px;
  width: 320px;
  height: 48px;
  background-color: white;
  p{
    width: auto;
    color: #7E7E82;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
}

.swiper {
  width: 320px;
  height: 118px;
  margin-bottom: 0;
  .swiper-pagination{
    height: 12px;
  }
}




.swiper-wrapper{
  height: 72px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.lenovo, .samsung, .apple, .bosch, .hp, .acer, .viewsonic, .sony{
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background: #DDDDDD;
}


.swiper-pagination-bullet-active {
  background:#B5B6BC;
}